<!-- src/app/profile/profile.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anime List</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="onSearchInput($event)" placeholder="Ketik minimal 3 huruf untuk mencari..."
      [debounce]="500" animated="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading [isOpen]="isLoading" message="Memuat data..."></ion-loading>

  <ion-list *ngIf="!isLoading && !error">
    <ion-item *ngFor="let anime of animeList" button (click)="goToAnimeDetail(anime.mal_id)">
      <ion-thumbnail slot="start">
        <img [src]="anime.images.jpg.image_url" [alt]="anime.title">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ anime.title }}</h2>
        <p>Rating: {{ anime.score }}/10</p>
        <p>Episodes: {{ anime.episodes }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="danger" *ngIf="error">
    <p class="ion-text-center">{{ error }}</p>
  </ion-text>

  <ion-text color="medium" *ngIf="!isLoading && animeList.length === 0">
    <p class="ion-text-center">Tidak ada hasil yang ditemukan</p>
  </ion-text>
</ion-content>