<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Masukan email</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="reset-password-container">
    <p class="instruction-text">
      Untuk menerima tautan reset password.
    </p>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="Masukkan email Anda" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <div *ngIf="emailError" class="error-message">
      <ion-text color="danger">{{ emailError }}</ion-text>
    </div>
    <ion-button expand="block" class="ion-margin-top" (click)="resetPassword()">
      Kirim
    </ion-button>
  </div>
</ion-content>