// src/app/pages/anime-detail/anime-detail.page.scss
.anime-header {
    position: relative;
    

    .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .basic-info {
        
        padding: 16px;

        h1 {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
        }

        p {
            margin: 8px 0;
        }
    }
}

ion-segment {
    padding: 8px;
}

ion-chip {
    margin: 4px;
}

.character-grid {
    padding: 10px;
}

.character-card {
    margin: 8px;
    height: 100%;
}

.image-container {
    width: 100%;
    aspect-ratio:3/4;
    overflow: hidden;
    position: relative;
}

.character-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.char-name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-card-header {
    padding: 10px;
}

ion-card-content {
    padding: 10px;
    font-size: 14px;
}

@media (max-width: 576px) {
    .char-name {
        font-size: 14px;
    }

    ion-card-content {
        font-size: 12px;
    }
}
.genre-chip {
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--ion-color-primary-tint);
    }


}

.replies-section {
    margin-left: 16px;
    border-left: 2px solid var(--ion-color-light);
    padding-left: 8px;
}

.reply-input {
    --background: var(--ion-color-light);
    margin: 8px 0;
    border-radius: 8px;
}

.reply-item {
    --background: var(--ion-color-light-tint);
    margin: 4px 0;
    border-radius: 4px;

    .small-avatar {
        width: 24px;
        height: 24px;
    }
}

.custom-input {
    --padding-start: 8px;
    --padding-end: 8px;
    --background: var(--ion-color-light);
    border-radius: 4px;
}

.reply-count {
    font-size: 12px;
    margin-right: 4px;
    color: var(--ion-color-medium);

}
.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

    &.active {
        /* Membesar sedikit ketika aktif /
      color: var(--ion-color-warning);
    }

    &:hover {
      transform: scale(1.1); / Sedikit membesar saat hover */
    }
}